@using System.Data;
@using System.Linq;
@{
    ViewBag.Title = "InitiativeListView";
}
<br />
 

	

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Initiative Data Entry Search</h5> 
    </div> 
    @{
        Html.RenderPartial("~/Views/InitiativeEntry/InitiativeListSearch.cshtml"); 
    } 
</div>
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Initiative Data Entry Result</h5>

    </div>



</div>
